/* HOME */

#hero {
  background-image: url("assets/home/hero.jpeg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0px 22vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url(assets/Home/button.png);
  background-color: transparent;
  color: #088178;
  border: none;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  transition: 0.27s;
}

#hero button:hover {
  color: #023430;
}

/* FEATURES */

#feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  margin: 15px 0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.07);

  /* border: 1px solid #cce7d0;
  border-radius: 4px; */
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 8px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #97edf7;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #ffa4d9;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #cff793;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #97d1f5;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #b9a5f7;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #f8ba98;
}

/* PRODUCTS */

.product-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

#product {
  text-align: center;
}

#product .product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  margin: 15px 0;

  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transition: 0.15 ease-in;
  cursor: pointer;
}

#product .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product .product img {
  width: 100%;
  border-radius: 20px;
}

#product .product .product-des {
  text-align: start;
  padding: 10px 0;
}
/* 
#product .product .product-des .review-star span,.star {
  color: #606063;
  font-size: 12px;
  width: 12px;
} */

#product .product .product-des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product .product .product-des h4 {
  padding-top: 9px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product .product {
  position: relative;
  /* overflow: hidden; */
}
#product .product .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 6px;
  border: none solid #cce7d0;
  border-radius: 50px;
  font-weight: 500;
  color: #088178;
  background-color: #e1e6e2;

  position: absolute;
  bottom: 10px;
  /* left: 200px; */
  right: 10px;
}

/* BANNER */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/Home/cta-banner0.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 2vh;
}

#banner h2 {
  color: white;
  font-size: 7vh;
  padding: 10px 0;
  margin: 20px 0;
}

#banner span {
  color: #0d0d35;
}

#banner .banner-btn {
  display: flex;
  justify-content: space-between;
  width: 20%;
  min-width: 340px;
  padding-top: 8px;
}

#banner .banner-btn .ig-btn,
.fb-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;

  color: #000;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 0.2s;
}

#banner .banner-btn .ig-btn:hover,
.fb-btn:hover {
  background-color: #088178;
  color: #fff;
}

/* CTA BANNERS 2nd Part  */

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box,
.banner-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url(assets/Home/cta-banner1.jpeg);
  width: 41.5vw;
  min-width: 550px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#sm-banner .banner-box2 {
  background-image: url(assets/Home/cta-banner2.jpeg);
}

#sm-banner h4 {
  color: rgb(88, 88, 88);
  font-size: 18px;
  font-weight: 400;
}

#sm-banner h2 {
  color: #000000;
  font-size: 2.1rem;
  font-weight: 800;
}
#sm-banner span {
  color: rgb(51, 51, 51);
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button,
.banner-box2:hover button {
  background: #088178;
  border: 1px solid #088178;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  background-image: url(assets/Home/newsletter.jpeg);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter button:hover {
  background-color: #09958c;
}

/* FOOTER */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .footer-logo {
  margin-bottom: 30px;
}

.copyright {
  margin-left: 16px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
.followus {
  margin-top: 12px;
  padding-bottom: 3px;
}

footer p {
  font-size: 13px;
  margin: 0 0 10px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin: 10px;
  margin-left: 0px;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-left: 7px;
}

.pay-icon {
  width: 30px;
  height: 30px;
}
